/Dia2/Java_T2_GarciaDiego2/nbproject/private/
/Dia2/Java_T2_GarciaDiego2/build/
/Dia2/Java_T2_GarciaDiego2/dist/
/Dia2/Java_combercion_Python/nbproject/private/
/Dia3/JavaEjercicios/dist/
/Dia3/JavaEjercicios/build/
/Dia2/JavaApplication6/nbproject/private/
/Dia2/JavaHospital/nbproject/private/
